h2 {
  font-size: 20px;
  margin-bottom: 0;
  color: #22a45d;
}
.discount-percent-box {
  border-radius: 16px;
  background-color: rgba(34, 164, 93, 0.08);
  border: 1px solid #22a45d;
  width: 39px;
  height: 19px;
  padding: 4px;
  letter-spacing: -0.4px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  margin-right: 4px;
}
.discount.not {
  display: none !important;
}
.discount-percent-text {
  color: #22a45d;
  font-size: 16px;
}
.price-before-discount {
  text-decoration-line: line-through;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #868686;
}
