<div class="
    container
    d-flex
    flex-column
    align-self-center
    h-100
    w-100
  ">
  <div class="top-space"></div>
  <div class="content">
    <p class="mb-2">
      رمز عبور برای شما ارسال شد. این کد تا
      <span class="green number">120</span>
      ثانیه دیگر فعال می‌باشد.
    </p>
    <form class="example-form" [formGroup]="form" (ngSubmit)="formSubmit.next()">
      <mat-form-field class="w-100" appearance="fill">
        <mat-label></mat-label>
        <input matInput formControlName="code" class="code-input" />
        <mat-icon matSuffix fontSet="material-icons-round">lock</mat-icon>
      </mat-form-field>
      <button mat-flat-button color="primary" class="w-100" [class.btn_loading]="form.disabled"
        [disabled]="form.disabled">ورود</button>
      <mat-progress-bar [class.invisible]="!form.disabled" [class.visible]="form.disabled" mode="query">
      </mat-progress-bar>

      <button mat-flat-button color="accent" class="w-100 mt-2" type="submit" (click)="back()">
        ارسال مجدد
      </button>

    </form>
  </div>

  <div class="bottom-space"></div>
</div>