<div class="container">
  <div class="map" style="width: 600px; height: 450px; background: #eee; border: 2px solid #aaa;"></div>
  <p class="active-order-text mt-4">سفارشات فعال</p>
  <div class="in-progress-order w-100">
    <div class="d-flex">
      <h2>موبیدیک گلسار</h2>
      <p class="status-inprogress">درحال آماده‌سازی</p>
    </div>
    <p class="description">روست بیف، چیکن، سزار...</p>
    <div class="bottom-section d-flex w-100">
      <mat-icon matSuffix fontSet="material-icons-round">event</mat-icon>
      <p>۱۴۰۰/۸/۲۰</p>
      <mat-icon matSuffix fontSet="material-icons-round">schedule</mat-icon>
      <p>۱۹:۲۰</p>
      <div class="flex-1 flex-grow-1"></div>
      <p class="bill-details">جزئیات فاکتور</p>
    </div>
  </div>
  <div class="last-orders w-100">
    <p class="previus-orders-text mt-4">سفارشات قبلی</p>
    <div class="d-flex">
      <h2>موبیدیک گلسار</h2>
      <p class="status-recieved">دریافت ‌شده</p>
    </div>
    <p class="description">روست بیف، چیکن، سزار...</p>
    <div class="d-flex w-100 align-items-center">
      <mat-icon matSuffix fontSet="material-icons-round">event</mat-icon>
      <p class="ml-3">۱۴۰۰/۸/۲۰</p>
      <mat-icon matSuffix fontSet="material-icons-round">schedule</mat-icon>
      <p>۱۹:۲۰</p>
      <div class="flex-1 flex-grow-1"></div>
      <p class="bill-details">جزئیات فاکتور</p>
    </div>
  </div>
  <app-bottom-nav-spacing></app-bottom-nav-spacing>
</div>