<div class="d-flex item flex-column w-100 overflow-hidden">
  <div class="d-flex flex-row">

    <div class="d-flex flex-column">
      <h2></h2>
      <p class="description"></p>
      <p class="description"></p>
      <p class="description"></p>
    </div>

    <div class="image-container">
    </div>
  </div>
  <div class="middle-content d-flex flex-row w-100">
    <span class="price"></span>
    <button mat-stroked-button color="primary" class="add-btn" disabled="true">افزودن</button>
  </div>
</div>