<div clas="h-100 w-100 overflow-auto">
  <mat-tab-group class="w-100" mat-stretch-tabs>
    <mat-tab label="سفارش‌های فعال">
      <app-history-item></app-history-item>
      <app-history-item></app-history-item>
      <app-history-item></app-history-item>
      <app-history-item></app-history-item>
      <app-history-item></app-history-item>
      <app-history-item></app-history-item>
      <app-history-item></app-history-item>

    </mat-tab>
    <mat-tab label="سفارش‌های قبلی">
      <app-history-item></app-history-item>
      <app-history-item></app-history-item>
      <app-history-item></app-history-item>
      <app-history-item></app-history-item>
      <app-history-item></app-history-item>
      <app-history-item></app-history-item>
      <app-history-item></app-history-item>
    </mat-tab>
  </mat-tab-group>
</div>