<div clas="h-100 w-100 overflow-auto">
  <mat-tab-group class="w-100" mat-stretch-tabs>
    <mat-tab label="سفارش‌های فعال">

      <div *ngFor="let order of ($orders | async)">
        <app-history-item *ngIf="!isDoneOrder(order)" [order]="order"></app-history-item>
      </div>

    </mat-tab>
    <mat-tab label="سفارش‌های قبلی">
      <div *ngFor="let order of ($orders | async)">
        <app-history-item *ngIf="isDoneOrder(order)" [order]="order"></app-history-item>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>