<div class="carousel-container">
  <ngb-carousel #ngcarousel [showNavigationArrows]="false" [showNavigationIndicators]="false">
    <ng-template ngbSlide *ngFor="let slider of sliderinfo">
      <div class="picsum-img-wrapper">
        <img [src]="slider.image">
      </div>
    </ng-template>

  </ngb-carousel>

  <button mat-icon-button (click)="goToNext()" class="next-btn">
    <mat-icon class="nav-btn" fontSet="material-icons-round">chevron_right</mat-icon>
  </button>

  <button mat-icon-button (click)="getToPrev()" class="prev-btn">
    <mat-icon class="nav-btn" fontSet="material-icons-round">chevron_left</mat-icon>
  </button>

</div>