.search-container {
  margin: 20px;
}
input,
input::-webkit-input-placeholder {
  font-size: 30px;
  font-weight: bold;
}
.icon {
  opacity: 0.44;
  left: 26.47%;
  top: 50%;
  transform: translateY(-20%);
}
