.item {
  background-color: #fff;
  border-radius: 8px;
  margin-top: 12px;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.04);
  padding: 8px;
  -webkit-animation: breathing 0.7s ease-in-out infinite alternate;
  animation: breathing 0.7s ease-out infinite alternate;
  h2 {
    background-color: #c0c0c0;
    border-radius: 8px;
    height: 24px;
    width: 40%;
    content: " ";
  }
  .thumbnail {
    border-radius: 8px;
    margin-left: 8px;
    height: 110px;
    width: 110px;
    background-color: #c0c0c0;
  }
  .detail {
    background-color: #c0c0c0;
    border-radius: 8px;
    height: 24px;
    width: 70%;
    content: " ";
  }
}

.count-div {
  p {
    margin: 0 8px;
  }
  border-radius: 12px;
  background-color: #c0c0c0;
  justify-content: center;
  align-items: center;
  display: flex;
  flex: row;
  height: 100%;
  button {
    border-radius: 12px !important;
  }
}

@-webkit-keyframes breathing {
  0% {
    opacity: 0.3;
  }

  25% {
    opacity: 0.5;
  }

  60% {
    opocity: 0.4;
  }

  100% {
    opocity: 0.3;
  }
}

@keyframes breathing {
  0% {
    opacity: 0.3;
  }

  25% {
    opacity: 0.5;
  }

  60% {
    opocity: 0.3;
  }

  100% {
    opocity: 0.3;
  }
}
