<app-top-nav-bar></app-top-nav-bar>

<div
  class="
    container
    d-flex
    flex-column
    justify-content-between
    align-self-center
    h-100
    w-100
  "
>
  <img src="/assets/Logotype.png" alt="" class="align-self-center logo-image" />

  <div>
    <h1>خوش آمدید</h1>
    <p class="mb-2">
      لطفا شماره موبایل خود را وارد کنید. کد فعالسازی برایتان ارسال خواهد شد.
    </p>
    <form class="example-form">
      <mat-form-field class="w-100" appearance="fill">
        <mat-label></mat-label>
        <input matInput />
        <mat-icon matSuffix fontSet="material-icons-round">smartphone</mat-icon>
      </mat-form-field>
      <button mat-raised-button color="primary" class="w-100">ورود</button>
    </form>
  </div>

  <div class="bottom-space"></div>
</div>
