<div class="container d-flex flex-column h-100 justify-content-between overflow-auto">
  <div class="d-flex justify-content-between py-4 header">
    <div class="d-flex flex-row">
      <mat-icon matSuffix fontSet="material-icons-round" [inline]="true"
        style="font-size: 32px; margin-left: 12px !important;">person
      </mat-icon>
      <h2>اطلاعات کاربری</h2>
    </div>
    <mat-icon routerLink="/settings" matSuffix fontSet="material-icons-round" [inline]="true" style="font-size: 32px;">
      chevron_left</mat-icon>
  </div>
  <mat-form-field class="w-100" appearance="fill">
    <mat-label>نام و نام خوانوادگی</mat-label>
    <input matInput type="text">
  </mat-form-field>
  <mat-form-field class="w-100" appearance="fill">
    <mat-label>ایمیل</mat-label>
    <input matInput type="email">
  </mat-form-field>
  <mat-form-field class="w-100" appearance="fill">
    <mat-label>شماره تلفن</mat-label>
    <input matInput type="tel">
  </mat-form-field>
  <div class="flex-grow-1"></div>
  <button mat-flat-button color="primary" class="mb-3">ذخیره تغییرات</button>
</div>