<div class="container d-flex flex-column h-100 overflow-auto">
    <div class="d-flex justify-content-between mt-5">
        <div></div>
        <h2>تنظیمات پروفایل</h2>
        <mat-icon matSuffix fontSet="material-icons-round">chevron_left</mat-icon>
    </div>
    <mat-form-field class="example-full-width" appearance="fill" class="mt-5">
        <mat-label>نام و نام خوانوادگی</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill" class="mt-1">
        <mat-label>ایمیل</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill" class="mt-1">
        <mat-label>شماره تلفن</mat-label>
        <input matInput>
      </mat-form-field>
      <div class="flex-grow-1"></div>
      <button type="button" class="btn btn-success mb-4">ذخیره تغییرات</button>
</div>

