<div class="container d-flex flex-column h-100 overflow-auto">
  <div class="d-flex flex-row justify-content-between align-items-center mt-3">
    <h2>آدرس تحویل</h2>
    <button mat-stroked-button color="primary" (click)="openAddress()">افزودن آدرس جدید</button>
  </div>
  <div id="map" class="map-container mt-2" [class.d-none]="($addresses | async).length == 0"></div>

  <mat-accordion class="mt-3" multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>انتخاب آدرس</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-radio-group (change)="onRadioChange($event)" [value]="$selectedAddress | async">
        <div class="d-flex justify-content-between my-2" *ngFor="let address of ($addresses | async)">
          <p>{{ address.address }}</p>
          <mat-radio-button [value]="address._id" color="primary">
          </mat-radio-button>
        </div>
        <div *ngIf="($addresses | async).length == 0"
          class="d-flex flex-row justify-content-between align-items-center mt-3">
          <p>شما هنوز آدرسی ثبت نکرده‌اید.</p>
          <button mat-mini-fab color="primary" class="flat-mini" (click)="openAddress()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </mat-radio-group>
    </mat-expansion-panel>
  </mat-accordion>

  <div class="d-flex flex-1 flex-grow-1"></div>
  <div class="price-section mb-3" [class.invisable]="!($selectedAddress | async)">
    <div class="price-content d-flex justify-content-between">
      <p>جمع خرید</p>
      <p>{{(this.$order | async).total}} تومان</p>
    </div>
    <div class="price-content d-flex justify-content-between">
      <p>هزینه ارسال</p>
      <p>10000 تومان</p>
    </div>
    <div class="price-content d-flex justify-content-between">
      <p>تخفیف</p>
      <p>{{(this.$order | async).totalDiscount}} تومان</p>
    </div>
    <div class="pay-able d-flex justify-content-between">
      <p class="font-weight-bold">قابل پرداخت</p>
      <p class="font-weight-bold">{{(this.$order | async).total - (this.$order | async).totalDiscount}} تومان</p>
    </div>
  </div>
  <mat-divider></mat-divider>

  <div class="discount d-flex justify-content-between mt-3">
    <div class="d-flex align-self-center justify-content-center">
      <mat-icon matSuffix fontSet="material-icons-round">local_activity</mat-icon>
      <p class="discount-text">کد تخفیف</p>
    </div>

    <button class=" enter-discount-code" (click)="openDiscount()">وارد کردن</button>
  </div>
  <button mat-flat-button color="primary" class="w-100 mb-4 mt-4" (click)="checkout()"
    [disabled]="this.$loading | async">
    تکمیل فرایند خرید
  </button>

</div>