p {
  font-weight: bold;
}
.pay-able {
  margin-top: 13px;
  color: #22a45d;
}
.item {
  margin-top: 7px;
}

.discount-text {
  margin-right: 7px;
}
.enter-discount-code {
  border: 1px solid #22a45d;
  border-radius: 4px;
  color: #22a45d;
}
.map-container {
  width: 100%;
  height: 200px;
  border: 1px solid #22a45c;
  border-radius: 8px;
}
