p {
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0.444444px;
}
.pay-able{
    margin-top: 13px;
    color: #22A45D;
}
.item{
    margin-top: 7px;
}
button{
  font-size: 20px;
  font-weight: bold;
}
