<div class="container d-flex flex-column h-100 overflow-auto mt-3">
  <app-top-nav-spacing></app-top-nav-spacing>
  <div class="item">
    <app-favourite-item [image]="item.image" [title]="item.title" [description]="item.description" [price]="item.price">
    </app-favourite-item>
  </div>
  <div class="d-flex flex-1 flex-grow-1"></div>
  <div class="price-section mb-3">
    <div class="price-content d-flex justify-content-between">
      <p>جمع فروش</p>
      <p>120000 تومان</p>
    </div>
    <div class="price-content d-flex justify-content-between">
      <p>هزینه ارسال</p>
      <p>10000 تومان</p>
    </div>
    <div class="price-content d-flex justify-content-between">
      <p>تخفیف</p>
      <p>0 تومان</p>
    </div>
    <div class="pay-able d-flex justify-content-between">
      <p>قابل پرداخت</p>
      <p>130000 تومان</p>
    </div>
    <div class="discount d-flex justify-content-between">
      <p>تخفیف</p>
      <p>0 تومان</p>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="discount d-flex justify-content-between mt-3">
    <div class="d-flex align-self-center justify-content-center">
      <mat-icon matSuffix fontSet="material-icons-round">local_activity</mat-icon>
      <p class="discount-text ">کد تخفیف</p>
    </div>
    
    <button class="btn enter-discount-code">وارد کردن</button>
  </div>
  <app-choose-address></app-choose-address>
  <button mat-raised-button color="primary" class="w-100 mb-4 mt-4" (click)="openInProgress()">
    تکمیل فرایند خرید
  </button>
  <app-bottom-nav-spacing></app-bottom-nav-spacing>
</div>