.price {
  color: #22a45d;
}
.middle-content {
  margin-left: auto;
  margin-right: 8px;
}
.bt {
  width: 24px;
  height: 24px;
  text-align: center;
  color: #fff;
}
img {
  width: 115px;
  height: 110px;
  border-radius: 8px;
}
#remove-btn {
  background-color: #ff6464;
}
#add-btn {
  background-color: #22a45d;
}
h2{
  font-size: 20px;
  margin-bottom: 0;
}
#delete-btn {
  width: 71px;
  height: 24px;
  border-radius: 20px;
  background-color: #ff6464;
}
.description {
  font-size: 16px;
}
.number {
  transform: translateY(10%);
  margin: 0 10px;
}

