<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>انتخاب آدرس</mat-panel-title>
    </mat-expansion-panel-header>
    <div *ngFor="let address of addresses" class="my-3">
      <div class="expansion-item d-flex justify-content-between my-2">
        <p>{{ address }}</p>
        <mat-radio-button value="1" color="primary"></mat-radio-button>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>