<div class="container">
  <h2 class="w-100 text-center mb-2">افزودن آدرس جدید</h2>
  <mat-divider></mat-divider>
  <div class="map">
    <div id="newMap" class="map-container mt-3">
    </div>
    <button mat-mini-fab class="loc" color="primary" (click)="$getLocation.next('')">
      <mat-icon matSuffix fontSet="material-icons-round">gps_fixed</mat-icon>
    </button>
  </div>
  <form class="form-container" [formGroup]="form" (ngSubmit)="submitAddress()">
    <mat-form-field class="w-100 mt-3" appearance="fill">
      <mat-label>آدرس</mat-label>
      <input matInput (input)="addressUpdated($event)" formControlName="address">
    </mat-form-field>
    <mat-form-field class="w-100" appearance="fill">
      <mat-label>شماره تلفن</mat-label>
      <input matInput formControlName="phone">
    </mat-form-field>
    <button mat-flat-button color="primary" class="w-100" type="submit"
      [disabled]="this.form.disabled || !this.form.valid">افزودن</button>
    <mat-progress-bar [class.invisible]="!form.disabled" [class.visible]="form.disabled" mode="query">
    </mat-progress-bar>

  </form>
</div>