<div class="h-100 d-flex flex-column">

  <form [formGroup]="form" class="flex-1 overflow-auto">
    <img [src]="(product | async).thumbnail" class="w-100" />
    <div class="w-100 d-flex flex-column justify-content-between mt-3 container">

      <div class="d-flex flex-row w-100 mb-2 align-items-center">
        <h2>{{ (product | async).name }}</h2>
        <div class="flex-1 flex-grow-1"></div>
        <app-price [price]="price" [discountPercentage]="(product | async).discount"></app-price>
      </div>



      <mat-button-toggle-group class="mb-2" (change)="optionChange($event)">
        <mat-button-toggle *ngFor="let option of (product| async).price" [value]="option._id" checked="true">
          {{option.optionName}}
        </mat-button-toggle>
      </mat-button-toggle-group>


      <p class="description align-self-start">
        {{ (product | async).description }}
      </p>
    </div>

    <div class="p-2">
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
          *ngIf="(product | async).bread.length > 0">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h3>انتخاب نان</h3>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-radio-group (change)="onRadioChange($event)">
            <div class="ingredients d-flex justify-content-between my-2" *ngFor="let bread of (product | async).bread">
              <div class="price-and-select">
                <p>{{ bread.item.name }}</p>
              </div>
              <div class="d-flex flex-row align-items-center">
                <p class="price mx-3">+ {{ bread.item.price }} تومان</p>
                <mat-radio-button [value]="bread.item._id" [disabled]="bread.item.available === false" color="primary"
                  [checked]="bread.required || bread.included">
                </mat-radio-button>
              </div>
            </div>
          </mat-radio-group>

        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
          *ngIf="(product | async).ingredients.length > 0">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h3>محتویات محصول</h3>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="d-flex justify-content-between my-2" *ngFor="let ingredient of (product | async).ingredients">
            <p>
              {{ ingredient.item.name }}
            </p>
            <mat-checkbox color="primary" [disabled]="ingredient.item.available === false || ingredient.required"
              [value]="ingredient.item._id" (change)="onCheckboxChange($event, 'ingredients')"
              [checked]="ingredient.required">
            </mat-checkbox>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
          *ngIf="(product | async).optional.length > 0">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h3>افزودنی</h3>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="ingredients d-flex justify-content-between my-2 w-100"
            *ngFor="let option of (product | async).optional">
            <p>{{ option.item.name }}</p>

            <div class="price-and-select d-flex">
              <p class="price">+{{ option.item.price }} تومان</p>
              <mat-checkbox color="primary" [disabled]="option.item.available === false || option.required"
                [checked]="option.required || option.included" [value]="option.item._id"
                (change)="onCheckboxChange($event, 'optional')">
              </mat-checkbox>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>


    </div>

  </form>

  <div class="add-to-cart d-flex flex-row p-2 mt-auto">
    <button mat-flat-button class="place-order-btn w-100" color="primary" type="submit" (click)="addOrder()">افزودن
      به سبد
      خرید</button>
    <div class="count-div">
      <button mat-icon-button color="primary" aria-label="Example icon button with a menu icon" (click)="addOrder()">
        <mat-icon>add</mat-icon>
      </button>
      <p>{{(count | async)}}</p>
      <button mat-icon-button color="warn" aria-label="Example icon button with a menu icon" (click)="removeOrder()"
        [disabled]="this.count.value <= 0">
        <mat-icon>remove</mat-icon>
      </button>
    </div>
  </div>

</div>