.add-button {
  border-radius: 50px;
  height: 36px;
}
h2 {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 0;
}
.expantion {
  background: rgba($color: #22a45d, $alpha: 0.2);
}
expantion-text {
  font-weight: bold;
  font-size: 20px;
  color: #22a45d;
  text-align: center;
  letter-spacing: 0.444444px;
}
p {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.444444px;
}
.price{
    color: #22A45D;
}
