.add-button {
  border-radius: 50px;
  height: 36px;
}
h2 {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 0;
}
.expansion {
  background: rgba($color: #22a45d, $alpha: 0.2);
}
.expansion-text {
  font-weight: bold;
  font-size: 20px;
  color: #22a45d !important;
  text-align: center;
  letter-spacing: 0.444444px;
}
p {
  font-weight: bold;
  //font-size: 20px;
  letter-spacing: 0.444444px;
}
.price {
  color: #22a45d;
  margin-left: 8px;
}
img {
  height: 200px;
  object-fit: cover;
}
.button-text {
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0.444444px;
}
.button-stuff {
  transform: translate(-5%, -5%);
}
.text{
  font-weight: bold;
  color: #22a45d;
  font-size: 20px;
}