<div class="container">
  <h2 class="title">پرطرفدارها</h2>
  <app-favourite-item
    [image]="items[0].image"
    [title]="items[0].title"
    [description]="items[0].description"
    [price]="items[0].price"
  ></app-favourite-item>
  <app-favourite-item
    [image]="items[1].image"
    [title]="items[1].title"
    [description]="items[1].description"
    [price]="items[1].price"
  ></app-favourite-item>
  <button mat-raised-button color="primary" class="w-100 see-more-btn">
    مشاهده بیشتر
  </button>
</div>
