<div class="d-flex item flex-column w-100 overflow-hidden">
  <div class="d-flex flex-row flex-1 flex-nowrap" [routerLink]="['/product', product._id]">

    <div class="d-flex flex-column w-100 ">
      <h2>{{ product.name }}</h2>
      <p class="description">{{ product.description }}</p>
    </div>

    <div class="image-container">
      <img [src]="product.thumbnail" width="110px" />
    </div>
  </div>
  <div class="middle-content d-flex flex-row w-100">
    <app-price [price]="price" [discountPercentage]="product.discount" [routerLink]="['/product', product._id]">
    </app-price>
    <button mat-stroked-button color="primary" class="add-btn" (click)="addToCart()">افزودن</button>
  </div>
</div>