@import "../../styles/themes/md-light/colors.scss";

$warn: map-get(
  $map: $md-warn-palette,
  $key: 600,
);

.item {
  text-align: right;
  margin-bottom: 16px;
  background-color: #fff;
  border-radius: 10px;
  padding: 8px;
}

.price {
  color: #22a45d;
}
.middle-content {
  width: 100%;
}
.bt-size {
  width: 24px;
  height: 24px;
}
.bt {
  width: 24px;
  height: 24px;
  text-align: center;
  color: #fff;
}
.delete-icon {
  color: $warn;
}
.image-container {
  width: 110px;
  height: 110px;
  img {
    object-fit: cover;
    border-radius: 8px;
    margin-right: 4px;
  }
  margin-bottom: 4px;
}
#remove-btn {
  background-color: #ff6464;
}
#add-btn {
  background-color: #22a45d;
}
h2 {
  margin-bottom: 0;
}

.number {
  transform: translateY(10%);
  width: 100%;
  text-align: center;
}

.description {
  opacity: 0.64;
  line-height: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  // Addition lines for 2 line or multiline ellipsis
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal;
  margin-top: 4px;
}

.tags-container {
  display: -webkit-box !important;
  width: 100%;
}

.tags {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  margin-top: 6px;
  margin-right: auto;
  flex-wrap: nowrap;
  & > * {
    margin-left: 4px;
  }
}

.tag {
  display: block;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.747);
  border-radius: 16px;
  background-color: #ffc8003b;
  border: 1px solid #ffc800;
  padding-left: 12px;
  padding-right: 12px;
  white-space: nowrap;
}

.add-btn {
  margin-right: auto;
  z-index: 10;
  border-radius: 8px;
  width: 110px;
}
