<div class="container p-3">
  <h2>
    سفارش شما
    <span>در حال آماده‌سازی</span>
    است.
  </h2>
  <mat-divider></mat-divider>

  <div class="icons-section d-flex align-items-center">
    <mat-icon matSuffix fontSet="material-icons-round">check_circle</mat-icon>
    <div class="splitter"></div>
    <mat-icon matSuffix fontSet="material-icons-round">two_wheeler</mat-icon>
    <div class="splitter"></div>
    <mat-icon matSuffix fontSet="material-icons-round">fastfood</mat-icon>
    <div class="splitter"></div>
    <mat-icon matSuffix fontSet="material-icons-round">list_alt</mat-icon>
  </div>
  <p>
    سفارش شما ثبت شده و در حال آماده‌سازی در رستوران است و پس از آماده‌سازی به
    آدرس انتخاب شده ارسال می‌شود.
  </p>
</div>
