<div class="container p-3">
  <h2>
    سفارش شما
    <span>در حال آماده‌سازی</span>
    است.
  </h2>
  <mat-divider></mat-divider>

  <div class="icons-section d-flex align-items-center">
    <mat-icon matSuffix fontSet="material-icons-round" class="active" id="1"
      >check_circle</mat-icon
    >
    <div class="splitter active" id="1"></div>
    <mat-icon matSuffix fontSet="material-icons-round" id="2" class="active"
      >two_wheeler</mat-icon
    >
    <div class="splitter" id="2"></div>
    <mat-icon matSuffix fontSet="material-icons-round" id="3"
      >fastfood</mat-icon
    >
    <div class="splitter" id="3"></div>
    <mat-icon matSuffix fontSet="material-icons-round" id="4"
      >list_alt</mat-icon
    >
  </div>
  <p>
    سفارش شما ثبت شده و در حال آماده‌سازی در رستوران است و پس از آماده‌سازی به
    آدرس انتخاب شده ارسال می‌شود.
  </p>
</div>
