<div class="history-container d-flex flex-column">
  <div class="d-flex flex-row w-100 align-items-center branch-container justify-content-between">
    <p class="branch">{{order.branchId.name}}</p>
    <div class="d-flex flex-row">
      <p><span class="price">{{getAmount()}}</span> تومان</p>
      <mat-icon class="payment">payment</mat-icon>
    </div>
  </div>
  <div class="d-flex align-items-center time-container">
    <mat-icon matSuffix class="time-icon" fontSet="material-icons-round">event</mat-icon>
    <p>{{this.date}}</p>
    <mat-icon matSuffix class="time-icon clock" fontSet="material-icons-round">schedule</mat-icon>
    <p>{{this.time}}</p>
    <div class="flex-1 flex-grow-1"></div>
    <div class="status">{{cartStatusPersian[order.status]}}</div>

  </div>
  <span class="address">{{order.addressId.address}}</span>
  <div class="d-flex flex-row thumbnails">

    <div *ngFor="let item of order.cartId.items">
      <img [src]="item.productId.thumbnail" class="thumbnail">
    </div>

  </div>
</div>