.hour{
    margin-right: 10px;
}
.icon{
    margin-left: 3px;
}
.isSuccessbox{
    width: 60px;
    height: 25px;
    border-radius: 10px;
    background-color: rgba($color: #868686, $alpha: 0.3);
    margin-right: 5px;
}
.Successful{
    color: #22A45D;;
}
.unSuccessful{
    color: #FF6464;
}
.price-number{
    margin-left: 5px;
    font-size: 20px;
}