h2 {
  margin-bottom: 0;
}
.top-navbar {
  margin-bottom: 10px;
}
.title {
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  text-align: right;
  letter-spacing: 0.14px;
  color: #010f07;
}
