h2 {
  margin-bottom: 0;
  color: #22a45d;
}
.discount-percent-box {
  border-radius: 4px;
  background-color: rgba(164, 43, 34, 0.08);
  border: 1px solid #ee413b;
  margin-left: 8px;
  color: #ff6565;
  font-size: 18px;
  padding: 0 4px;
}
.not {
  display: none !important;
}
.price-before-discount {
  text-decoration-line: line-through;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  color: #868686;
}
