<div class="container d-flex flex-row justify-content-around">
  <div class="right-section d-flex flex-column align-items-center">
    <mat-icon matSuffix class="icon">home</mat-icon>
    <p>خانه</p>
  </div>
  <div class="middle-section d-flex flex-column align-items-center">
    <mat-icon matSuffix class="icon">list_alt</mat-icon>
    <p>سفارشات</p>
  </div>
  <div class="left-section d-flex flex-column align-items-center">
    <mat-icon matSuffix class="icon">person</mat-icon>
    <p>پروفایل</p>
  </div>
</div>
