<div class="nav-container d-flex flex-row justify-content-around">
  <div class="nav-btn d-flex flex-column align-items-center">
    <mat-icon matSuffix fontSet="material-icons-round" class="icon active">home</mat-icon>
    <p class="active">خانه</p>
  </div>
  <div class="nav-btn d-flex flex-column align-items-center">
    <mat-icon matSuffix fontSet="material-icons-round" class="icon">list_alt</mat-icon>
    <p>سفارشات</p>
  </div>
  <div class="nav-btn d-flex flex-column align-items-center">
    <mat-icon matSuffix fontSet="material-icons-round" class="icon">person</mat-icon>
    <p>پروفایل</p>
  </div>
</div>