.nav-container {
  position: sticky;
  top: 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
  padding: 12px;
  background-color: #ffffff;
}

.branch-select {
  font-size: 16px;
  font-weight: bold;
  border: none;
  user-select: none;
  -webkit-user-select: none;
  &:focus {
    outline: 0;
    border: none;
  }
}

.branch-name {
  font-size: 16px;
  font-weight: bold;
}

.header-icon {
  opacity: 0.64;
}
