<div class="d-flex flex-row justify-content-between w-100 align-items-center nav-container ">
  <mat-icon class="header-icon" fontSet="material-icons-round material-icons-outline" [routerLink]="['/cart']">
    shopping_cart</mat-icon>
  <div (click)="openBottomSheet()" class="d-flex flex-row align-items-center">
    <span class="branch-name">گلسار</span>
    <mat-icon fontSet="material-icons-round">arrow_drop_down</mat-icon>
  </div>
  <mat-icon class="header-icon" fontSet="material-icons-round">keyboard_return</mat-icon>
</div>